<%= form_with model: article do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
    
  <div>  
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div>  
    <%= f.label :"profile photo" %>
    <%= f.file_field :avatars,  :multiple => true %>
  </div>

   <div>  
    <%= f.label :"upload video" %>
    <%= f.file_field :video_files,  :multiple => true %>
  </div>


  <div>
    <%= f.submit %>
  </div>
<% end %>
